name: GitHub Actions CI
on:
  push:
    branches: master
  pull_request: []
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
    - name: Set up Git repository
      uses: actions/checkout@master

    - name: Set up Homebrew
      run: |
        HOMEBREW_REPOSITORY="$(brew --repo)"
        brew update-reset "$HOMEBREW_REPOSITORY"
        ln -s "$PWD" "$HOMEBREW_REPOSITORY/Library/Taps/homebrew/homebrew-test-bot"

    - name: Run brew style
      if: matrix.os == 'macOS-latest'
      run: brew style homebrew/test-bot

    - name: Set up Ruby
      if: matrix.os == 'ubuntu-latest'
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'

    - name: Install Homebrew/homebrew-test-bot RubyGems
      run: |
        gem install bundler -v "~>1"
        bundle install --jobs 4 --retry 3

    - name: Run Homebrew/homebrew-test-bot RSpec tests
      run: bundle exec rspec

    - name: Build Docker image
      if: matrix.os == 'ubuntu-latest'
      run: docker-compose -f Dockerfile.yml build sut

    - name: Run brew test-bot
      run: |
        if [ "$RUNNER_OS" = "Linux" ]; then
          docker-compose -f Dockerfile.yml run --rm -v $GITHUB_WORKSPACE:/tmp/test-bot sut
        else
          brew test-bot
        fi

    - name: Run brew test-bot --dry-run tests
      if: matrix.os == 'macOS-latest'
      run: |
        brew test-bot --ci-upload --dry-run
        brew test-bot https://github.com/Homebrew/brew/pull/4170 --dry-run
        brew test-bot https://github.com/Homebrew/brew/commit/dc96e6f73551fbadd0c2169c3a79c47a936f71ae --dry-run
